<h1><%= @post.title %></h1>

<!-- Add code here to link to the post's category. -->
<% @posts.each do |single| %>
  <li><%= link_to single.title, post_path(single) %></li>
<% end %>

<p><%= @post.description %></p>
